.title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 30px 80px 70px;
    /* 1개 : 전체, 2개 위아래, 양옆 , 3개 위, 양옆, 아래
    4개는 각각 */
}

.logo-wrapper {
    padding: 0 70px 0 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.gnb-wrapper {
    flex: 3;
}

.gnb-wrapper > a {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    letter-spacing: 2px;
}
.gnb-wrapper > a:hover {
    color: red;
    transition-duration: 1s;
}

#home {
    color: red;
}

.hamburger-wrapper {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 3%;
    right: 1%;
    cursor: pointer;
}
/* 1vh = 내가 보고있는 화면을 100vh 로 봤을때 한 곳 이다
            vh는 내가 보고 있는 화면의 크기가 기준
            %는 부모 태그가 기준 이다*/
